<footer>
    <div class="f-info">
        <div class="footer-icons">
            <div><a target="_blank" href="tel:+919823210017"><i class="fa-solid fa-phone"></i><span>&nbsp;+919823210017</span></a></div>
            <div><a target="_blank" href="https://www.linkedin.com/in/lata-aigale-99706b2a6?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin"></i><span>&nbsp;Lata Aigale</span></a></div>
            <div><a target="_blank" href="mailto:ravlainternationalexim@gmail.com"><i class="fa-regular fa-envelope"></i><span>&nbsp;ravlainternationalexim@gmail.com</span></a></div>
        </div>
        <div class="footer-text">
            &copy; Ravla International Exim
        </div>
        
    </div>
</footer>