<% layout("Layout/boilerplate") %>

<body>
    <h2 class="about-title">About Us</h2>
    <div class="about">
        
        <div class="about-img">
            <div class="container">
                <br>
                <h2 class="about-vision">Our Vision</h2>
                
                <div class="center-bt">As the the company name suggests, we are very Passionate about our work.
                    Ravla's idealism can sometimes make them naive about the challenges of their mission. We have the 
                    potential to make significant changes in the world by importing and exporting the quality products.
                </div>
    
    
    
            </div>
            
        </div>    
        
       <div>
        <div class="container-md ">
            <h2 class="h1 mb-3">Why Choose Us?</h2>
            <p class="lead fs-4 mb-3 mb-xl-5">With years of experience and deep industry knowledge, we have a proven track record of success and are constantly pushing ourselves to stay ahead of the curve.</p>
            <div class="choose-text">
                <div class="choose-text-items">
                    <div>
                        <span><i class="fa-solid fa-circle-check" style="color: #74C0FC;"></i> &nbsp; Our products are absolutely fresh and deliver directly  from farms.</span>
                      
                    </div>
                    
    
                    <div>
                        <span><i class="fa-solid fa-circle-check" style="color: #74C0FC;"></i>&nbsp; We deliver services beyond expectations and Timely Delivery.</span>
    
                    </div>
    
    
                    <div>
                        <span><i class="fa-solid fa-circle-check" style="color: #74C0FC;"></i>&nbsp; We Supply 100% Natural and Fresh Products.</span>
    
                    </div>
    
                    <div >
                        <span><i class="fa-solid fa-circle-check" style="color: #74C0FC;"></i>&nbsp; Ensure Quality of the Products which provides confidence to our Buyers.</span>
                    </div>
                </div>
    
            </div>
        </div>
    
       </div>



    </div>
    
</body>