<head>
  <title>Home</title>
</head>
<% layout("Layout/boilerplate") %>

<body>
    <div class="sliding-image">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
              </div>

            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="2500">
                <img src="Images/Millets/millet1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>We supply natural and fresh products to your door step</h5>
                  
                  </div>
              </div>

              <div class="carousel-item" data-bs-interval="2500">
                <img src="Images/Millets/millet2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>We supply natural and fresh products to your door step</h5>
             
                  </div>
              </div>

              <div class="carousel-item" data-bs-interval="2500">
                <img src="Images/Millets/millet3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>We supply natural and fresh products to your door step</h5>
                  
                  </div>
              </div>

              <div class="carousel-item" data-bs-interval="2500">
                <img src="Images/Millets/millet4.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>We supply natural and fresh products to your door step</h5>

                  </div>
              </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>

    
    <div class="mt-3 company-info">
      <p>Ravla International Exim is located at Sangli Maharashtra , which is farming hub for agriculture products.
        As we have about nearly 200 to 400 farmers group from different states.That's the season we are able to maintain the quality of
        products and resonable rates.
      </p>
    </div>


    
    <div></div>
</body>
