<% layout("Layout/boilerplate") %>

<body>

    <div class="mt-3 mb-3">
        <h1 class="product-title">Our Products</h1>
    </div>

    <div class="card-style row row-cols-sm-1 row-cols-md-2 row-cols-lg-4">
       

      
            <div class="card mt-3 mb-3" style="width: 20rem;">
                <img src="Images/Products/dry1.jpg" class="card-img-top card-img" alt="...">
                <div class="card-body">
                  <h4 class="card-title">Dry Maize</h4>
                  
                </div>
            </div>
    
            <div class="card mt-3 mb-3" style="width: 20rem;">
                <img src="Images/Products/mango2.jpg" class="card-img-top card-img" alt="...">
                <div class="card-body">
                  <h4 class="card-title"> Mango Pulp</h4>
    
                </div>
            </div>
    
            <div class="card mt-3 mb-3" style="width: 20rem;">
                <img src="Images/Products/coco4.jpg" class="card-img-top card-img" alt="...">
                <div class="card-body">
                  <h4 class="card-title">Coconut</h4>
                  
                </div>
            </div>
    
            <div class="card mt-3 mb-3" style="width: 20rem;">
                <img src="Images/Products/millet.jpg" class="card-img-top card-img" alt="...">
                <div class="card-body">
                  <h4 class="card-title">Millets</h4>
    
                </div>
            </div>

            <div class="card mt-3 mb-3" style="width: 20rem;">
              <img src="Images/Products/dragon_fruit.jpg" class="card-img-top card-img" alt="...">
              <div class="card-body">
                <h4 class="card-title">Dragon Fruit</h4>

              </div>
          </div>
        
    
    </div>
    
</body>